body {
  background-image: url("images/cropped (2).jpg");
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 3;


}

h1 {
  font-size: 30px;
  line-height: normal;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;

}

h2 {
  font-size: 20px;
  line-height: small;
  font-weight: bold;
  text-align: center;
  line-height: 2;
}

a {
  color: #389393; 
  text-decoration: none;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

a:hover {
  color: #f5a25d;
}

p {
  font-size: small;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  padding: 10px;
}

.card {
  background-color: #cdecec;
  width: 500px;
  margin: 0 auto; 
  border-radius: 5px;
  box-shadow: 1px 1px 1px #98cccc;
}

.container {
  width: 500px;
  margin: 0 auto; 
}

.img-circle {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list_inline < li {
    display: inline-block;
    padding: 0px 20px;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
    line-height: 2;
    padding-bottom: 5px;
}

}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }

  .body {
    width: 700px
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }

  .card {
    width: 500px ;
  }

  .body{
    width: 500px
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
  .card {
    width: 250px;
  }

  .body{
    width: 300px
  }
}
